files:
  "/etc/httpd/conf.d/elasticbeanstalk/01_laravel.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Laravel Configuration for Apache
      <Directory "/var/app/current/public">
          AllowOverride All
          Require all granted
      </Directory>

      DocumentRoot /var/app/current/public
      <Directory "/var/app/current/public">
          Options Indexes FollowSymLinks MultiViews
          AllowOverride All
          Require all granted
      </Directory>
